
.cardBlog{
    img{ 
    width: 100%;
    height: auto;
    }
    .img-thumbnail{
        
        border-radius: 5%;
    }
}
.card-text1 {
    font-size: 4rem;
    color: black;
    p { font-size: 1rem;
    }
}

.TituBlog {
    font-size: 8rem;
    text-shadow: map-get($map: $shadow , $key:'sha1' );
    color: $texTitulos;
    padding: 20px;
    margin: 20px;
}

.card-body {
    background-color: rgba(238, 188, 247, .6);
}
