.card-title {
    font-size: 2rem;
    color: red;
}

.card-text {
    font-size: 1.5rem;
    color: black;
}

.card-text1 {
    font-size: 4rem;
    color: black;
    p { font-size: 1rem;
    }
}

.TituBlog {
    font-size: 8rem;
    text-shadow: black 3px 1px 3px;
    color: violet;
    padding: 20px;
    margin: 20px;
}

.card-body {
    background-color: rgba(238, 188, 247, .6);
}
