@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    font-family: 'Roboto',
        sans-serif;
    margin: 0;
    padding: 0;
}



* {
    font-size: 62.5%
}

.texto__Centro {
    text-align: center;
}

.texto__XL {
    font-size: 6rem;

}

.texto__SL {
    font-size: 4rem;
}

.texto__Md {
    font-size: 3rem;
}
.texto__Ch{
    font-size: 2rem;
}
$navbarColor:rgba(238, 188, 247, 0.6);
$textBlack: black; 
$FondCarTra: rgb(238, 130, 238);
$TexColorCarTrata: rgb(215, 61, 61);
$texTitulos: rgb(238, 130, 238);
$shaTituI: white;
$textFooter: rgb(57, 56, 56);
$Blanco: white;

@mixin flex($justif, $aling,) {
    display: flex;
    justify-content: $justif;
    align-items: $aling;
}

$shadow:(
    'sha1': 3px 1px 3px $textBlack,
    'sha2': .5px 1px 1px $textBlack,
    'sha3': 3px 2px 3px 3px $textBlack,
    'sha4': 2px 2px 2px  $shaTituI,

)
