@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    font-family: 'Roboto',
        sans-serif;
    margin: 0;
    padding: 0;
}



* {
    font-size: 62.5%
}

.texto__Centro {
    text-align: center;
}

.texto__XL {
    font-size: 6rem;

}

.texto__SL {
    font-size: 4rem;
}

.texto__Md {
    font-size: 3rem;
}
