#CarGal{
    img[src]{
        height: 400px;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;    
}
.slide {
    width: 45vw;
    height: auto;
}
#TituGal{
    h3 {      
    grid-area: TraTitu;
    display: flex;
    font-size: 4rem;
    text-shadow: map-get($map: $shadow, $key:'sha1' );
    color: violet;
    justify-content: center;
    margin: 10px;
    }
} 