// ---------MQ Movil-------------// 

@media only screen and (min-Width:275px) and (max-width:599px){
    // Navbar //
    .navbar-light{
        .logo{
            top: 5px;
            left: 15px;
            border-radius: 15%;
            width: 200px;
            height: 40px;        
        }
    }
    body{
        .navbar{
            padding: 10px;
        }
    }
    #AsideRed{
        .redes{
            top: 50px;
        }
    }  
             // inicio //
    .ContenedorInicio{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "AsideRed"
            "MainIni"
            "AsideIni1"
            "FooterIni";
        #MainIni .TituloI {
            font-size: 2.5rem;
            width: 70vw;
            top: 0px;
            position: relative;
            margin-left: 50px;

        }
        #MainIni .PortadaIni {
            margin-left: 0px;
        } 
        .MapaI{
            justify-items: center;        
        }
 
    }
        // Blog //
    .TituBlog {
        font-size: 4rem;
        text-shadow: black 3px 1px 3px;
        color: $FondCarTra;
    }
        // Footer //
    #FooterIni {
        display: flex;
        justify-content: center;
        .PieI {
            flex-direction: column;
            justify-content: center;
            padding: 2px;
            .CenterFooter{
                text-align: center;
            }
            .logoPie {
                display: inline-block;
                align-items: flex-start;
                 border-radius: 5%;
                width: 60vw;
            }
        }
    }
    //   Tratamiento //
    #TraTitu{
        h1{
            font-size: 2.5rem;
            justify-content: center;
            margin: 25px;
            padding: 15px;
        }
        #PodTra{
            width: 85vw;
        }
    }    
    .cardTra{
        width: 250px;
        height: auto;
    }
    // Nosotros //
    .ContenedorNosotros {
        #TituNos{
            section{
                h2{
                    font-size: 2.5rem;
                    margin-left: 10px;

                }
            }

        }
        #Caro{
            flex-direction: column;
            p {
                font-size: 1.5rem;
                width: 90%;
            } 
        }       
    }
    //    Galeria //
    #TituGal{
        h3{
         font-size: 2.5rem;
         margin-left: 50px;        
        }
    }
    .carousel-item {
        width: 200px;
        height: auto;
    }  
    #CarGal{
        img[src]{
            height: 150px;
        }
    }
    // Contacto //
    main{
        .TituCont{
            font-size: 3rem;  
        }
    }
}       


// ----------MQ Tablet---------------//
@media only screen and (min-Width:600px) and (max-width:800px) {
    //   Logo  //
    .logo {
        border-radius: 35%;
        width: 200px;
        height: 35px;
    }     
    // Inicio //
    .ContenedorInicio {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "AsideRed"
        "MainIni"
        "AsideIni1"
        "FooterIni";
        #AsideIni1 {
            flex-direction: row;
            height: 28vh;
            .TituloAside1{
                width: 18vw;
                h2{
                    font-size: 2.5vw;
                    padding: 5vw;
                }
            }
        }    
    }
    // Podotratamiento //
    #TraTitu{
        h1 {
          font-size: 4rem;
        }
    }
    //   Footer //
    footer{
       #FooterIni{
           display: flex;
           justify-content: center;
           .PieI{
               flex-direction: column;
               justify-content: space-between;
               padding: 2px;
           }
           .logoPie{
               display: inline-block;
               align-items: flex-start;
               border-radius: 5%;
               width: 150px;
               height: 30px;
           }         
       } 
    }
    //  Galeria //
    body{
        #CarGal{
            width: 100%;
            height: auto;
            img[src]{
                height: 300px;
        }
            .slide {
                width: 400px;
                height: auto;
            }
        }
        div{
            #TituGal{
                font-size: 4rem;
            }
        }
    }   
}



@media only screen and (min-Width:801px) and (Max-Width:1080px) {
    // navbar   //
    .navbar-light{
        .logo{
            width: 200px;
            height: 60px;
            margin-top: 0px;        
        }
    }
    .navbar{
        padding-top: 40px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 150px;
        margin-bottom: 10px;
        list-style: none;
    }  
    //   Inicio //
    .ContenedorInicio {
        display: grid;
        grid-template-columns: 5vw 25vw 25vw 30vw;
        grid-template-rows: auto;
        grid-template-areas:
            "AsideRed MainIni MainIni AsideIni1"
            "AsideRed MainIni MainIni AsideIni1"
            "FooterIni FooterIni FooterIni FooterIni";
        #AsideIni1{
            margin-left: 20px;
            margin-top: 0px;
            .TituloAside1{
                h2{
                    font-size: 3rem;
                }
            }
        }
        #MainIni{
            .TituloI {
                top: auto;
                font-family: 'Times New Roman', Times, serif;
                font-size: 3rem;
                .VideoI {
                    width: 90vw;
                    height: auto;
                    top: 0;
                    margin: 0px;
                    z-index: 9;
                }
            }  
        }    
    }
    .Portadaini {
        width: auto;
    }
    .logoPie {
        border-radius: 5%;
        width: 250px;
        height: 30px;
        margin:0;
        padding: 0;
    }
    .NotaIni li a {
        font-size: 2.5rem;
        font-family: 'Gill Sans',
            'Gill Sans MT', Calibri,
            'Trebuchet MS', sans-serif;

    }
    .FlexNav ul li {
        font-size: 2vw;

    }
    // Footer //
    #FooterIni {
        margin-top: 2px;
        display: flex;
        flex-direction: column-reverse;
    }    
}
@media only screen and (min-Width:1081px) and (Max-Width:1480px) {
    // Navbar // 
    .navbar-light{
        .logo{
            width: 200px;
            height: 60px;
            margin-top: 0px;        
        }
    }
    // Galeria // 
    body{
        #CarGal{
            width: 100%;
            height: auto;
            img[src]{
                height: 300px;
            }
            .slide {
                width: 400px;
                height: auto;
            }
        }
    }
}
